@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }

  .title-font {
    font-family: 'Manrope', sans-serif;
    @apply text-5xl font-semibold; 
  }

  .subtitle-font{
    font-family: 'Manrope', sans-serif;
    @apply text-3xl font-bold;
  }

  .grid-item {
    @apply h-48 shadow-lg square hover:shadow-2xl;
  }
  
}
